<QUESTION>
На основе активности до сих пор ответь на следующий вопрос

## Вопрос
{{ question }}


<IMPORTANT>
Это вопрос — не вызывай никакие инструменты и просто ответь на вопрос.
</IMPORTANT>
</QUESTION>
